// app global css in SCSS form
@import "@fontsource/inter"; // Defaults to weight 400
@import "@fontsource/inter/500.css"; // Optional: weight 500
@import "@fontsource/inter/600.css"; // Optional: weight 600
@import "@fontsource/inter/700.css"; // Optional: weight 700

@import "@fontsource/poppins"; // Defaults to weight 400
@import "@fontsource/poppins/500.css"; // Optional: weight 500
@import "@fontsource/poppins/600.css"; // Optional: weight 600
@import "@fontsource/poppins/700.css"; // Optional: weight 700

body {
  font-family: "Poppins", sans-serif;
  color: #455a64;
  background: $white;
  // color: #78909c;
}

// settings
.right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 80%;
  margin-left: auto;
  padding-right: 1rem;
}

.toggle-btn {
  margin-right: -1rem;
}

.dialog-content {
  height: calc(100% - 60px);
  // background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .content-icon {
    display: flex;
    margin: auto;
    background: #118c8c;
    background: linear-gradient(135deg, #118c8c, #6247d8);
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .content-title {
    font-size: 2rem;
    text-align: center;
  }

  .content-para {
    font-wsize: 1rem;
    text-align: center;
  }
}
