// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $primary: #8e44ad; // Dark Purple
$primary: #2c3e50; // Dark Purple
$secondary: #f39c12; // Orange
$accent: #9b59b6; // Light Purple

$dark: #34495e; // Dark Blue
$dark-page: #2c3e50; // Darker Blue

$positive: #2ecc71; // Green
$negative: #e74c3c; // Red
$info: #3498db; // Blue
$warning: #f1c40f; // Yellow

$red: #ff6f61; // Light Red
$blue: #3498db; // Bright Blue
$green: #2ecc71; // Bright Green
$yellow: #f1c40f; // Bright Yellow
$pink: #ff69b4; // Bright Pink
$teal: #1abc9c; // Bright Teal
$orange: #ffa07a; // Light Orange
$white: #ffffff; // White
